<header class="site-header">
  <div class="wrapper">
    <div class="header-content">

      <a class="site-title" href="{{ "/" | relative_url }}">
        Rachel Hayes-Harb
      </a>

      <nav class="main-nav">

  <div class="nav-links">
    <a href="{{ "/research/" | relative_url }}">Research</a>
    <a href="{{"/teaching/"|relative_url}}">Teaching</a>
    <a href="{{"/students/" | relative_url}}">Students</a>
  </div>

  <div class="nav-icons">

    <a href="https://speechlab.utah.edu"
   aria-label="Speech Acquisition Lab"
   target="_blank"
   rel="noopener noreferrer">
  <img src="{{ "/assets/img/lab logo no text.jpg" | relative_url }}"
       alt="Speech Acquisition Lab">
</a>
    
    <a href="mailto:r.hayes-harb@utah.edu"
       aria-label="Email"
       target="_blank"
       rel="noopener noreferrer">
      <i class="fa-solid fa-envelope"></i>
    </a>

    <a href="https://orcid.org/0000-0003-3115-6289"
       aria-label="ORCID"
       target="_blank"
       rel="noopener noreferrer">
      <i class="fa-brands fa-orcid"></i>
    </a>

    <a href="https://scholar.google.com/citations?user=VEg5qk0AAAAJ&hl=en"
       aria-label="Google Scholar"
       target="_blank"
       rel="noopener noreferrer">
      <i class="fa-brands fa-google-scholar"></i>
    </a>

    <a href="https://www.instagram.com/speechlab_uofu/"
       aria-label="Instagram"
       target="_blank"
       rel="noopener noreferrer">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a href="https://bsky.app/profile/speechlabuofu.bsky.social"
       aria-label="Bluesky"
       target="_blank"
       rel="noopener noreferrer">
      <i class="fa-brands fa-bluesky"></i>
    </a>
  </div>

</nav>

    </div>
  </div>
</header>
